<app-product></app-product>
<!-- <div class="container">
<h2 class="text-center"> comment</h2>
<div class="row">
  <table class="table">
<thead>
  <tr>
    <td>Id</td>
    <td>title</td>
    <td>price</td>
    <td>stock</td>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let p of product">
    <td>
      {{p.id}}
    </td>
    <td>
      {{p.title}}
    </td>
    <td>
      {{p.price}}
    </td>
    <td>
      {{p.stock}}
    </td>
 
    <td> <app-updateproduct [stock]='p.stock' [productid]='p.id' (stockvaluevent)='updatestock($event)'></app-updateproduct> </td>
  </tr>
</tbody>
  </table>
</div>
</div> -->